<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="faqModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Preguntas Frecuentes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="p-5">
                <p class="lead text-justify" id="main-text">El club "Pedalitos Morelia" extiende a todos los que gozan del ciclismo de montaña una cordial invitación a su 6to reto "Los miradores", en donde podrán disfrutar de hermosos paisajes, excelentes ascensos y descensos, 100% montaña.</p>
                <div id="divQuestion1" class="question-separator mb-4">
                    <p id="question1" class="lead" data-toggle="collapse" href="#awnserQuestion1" aria-expanded="false" aria-controls="awnserQuestion1" style="cursor: pointer;">¿Cuándo es el reto?<i class="fas fa-chevron-down float-right"></i></p>
                    <h6 class="h6 text-muted text-justify collapse" id="awnserQuestion1">Domingo 1 de diciembre del 2019</h6>
                </div>
                <div id="divQuestion2" class="question-separator mb-4">
                    <p id="question2" class="lead" data-toggle="collapse" href="#awnserQuestion2" aria-expanded="false" aria-controls="awnserQuestion2" style="cursor: pointer;">¿En dondé será el reto?<i class="fas fa-chevron-down float-right"></i></p>
                    <h6 class="h6 text-muted text-justify collapse" id="awnserQuestion2">Jardín EGP, Av. Thomas Jefferson s/n Ejido Snata María, mejor conocido como "Altozano", Morelia, Michoacán.</h6>
                </div>
                <div id="divQuestion3" class="question-separator mb-4">
                    <p id="question3" class="lead" data-toggle="collapse" href="#awnserQuestion3" aria-expanded="false" aria-controls="awnserQuestion3" style="cursor: pointer;">¿A qué hora comienza?<i class="fas fa-chevron-down float-right"></i></p>
                    <h6 class="h6 text-muted text-justify collapse" id="awnserQuestion3">La recepción de compañeros será a partir de las 07:00 am, arrancando a las 08:00 am, puntual, por lo que te pedimos que anticipes tu llegada para que tengas tiempo de prepararte y estés listo para disfrutar del reto.</h6>
                </div>
                <div id="divQuestion4" class="question-separator mb-4">
                    <p id="question4" class="lead" data-toggle="collapse" href="#awnserQuestion4" aria-expanded="false" aria-controls="awnserQuestion4" style="cursor: pointer;">¿Cuántos kilómetros son?<i class="fas fa-chevron-down float-right"></i></p>
                    <h6 class="h6 text-muted text-justify collapse" id="awnserQuestion4">Pensando en todos los participantes hemos diseñado 3 rutas: 35 km para principiantes, 50 km para intermedios y 65 km para avanzados (<strong>100% cerro</strong>).</h6>
                </div>
                <div id="divQuestion5" class="question-separator mb-4">
                    <p id="question5" class="lead" data-toggle="collapse" href="#awnserQuestion5" aria-expanded="false" aria-controls="awnserQuestion5" style="cursor: pointer;">¿Qué incluye y cuál es el costo?<i class="fas fa-chevron-down float-right"></i></p>
                    <div class="collapse" id="awnserQuestion5">
                        <h6 class="h6 text-muted text-justify collapse">En esta en esta ocasión contaremos con dos paquetes con diferentes precios, los cuales varían dependiendo de la fecha en la que te inscribas.</h6>
                        <p class="h6 text-muted- text-justify">
                            <strong class="h6 text-justify pb-4">Paquete #1:</strong>
                            <div class="row pl-5 pr-5">
                                <ul class="col-md-6">
                                    <strong class="h6 text-muted text-justify">Incluye:</strong>
                                    <li>Número de participante (Personalizado con foto y nombre, únicamente inscribiéndote en julio y agosto).</li>
                                    <li>Pulsera para derecho a acceso.</li>
                                    <li>Medalla.</li>
                                    <li>Jersey conmemorativo.</li>
                                    <li>Bandana.</li>
                                    <li>Calcetas.</li>
                                </ul>
                                <ul class="col-md-6">
                                    <strong class="h6 text-muted text-justify">Precios:</strong>
                                    <li>Julio y Agosto: $480.</li>
                                    <li>Septiembre: $530.</li>
                                    <li>Octubre: $600.</li>
                                    <li>Noviembre: $600 <strong class="text-muted">sujeto a disponibilidad</strong>.</li>
                                </ul>
                            </div>
                            <strong class="h6 text-justify pb-4">Paquete #2:</strong>
                            <div class="row pl-5 pr-5">
                                <ul class="col-md-6">
                                    <strong class="h6 text-muted text-justify">Incluye:</strong>
                                    <li>Número de participante.</li>
                                    <li>Pulsera para derecho a acceso.</li>
                                    <li>Medalla.</li>
                                </ul>
                                <ul class="col-md-6">
                                    <strong class="h6 text-muted text-justify">Precios:</strong>
                                    <li>Julio y Agosto: $280.</li>
                                    <li>Septiembre: $330.</li>
                                    <li>Octubre: $400.</li>
                                    <li>Noviembre: $400 <strong class="text-muted">sujeto a disponibilidad</strong>.</li>
                                </ul>
                            </div>
                            <h6 class="h6 text-muted text-justify">Adicional, todos los participantes tendrán derecho a lo siguiente sin importar el paquete de su elección.</h6>
                            <div class="row pl-5 pr-5">
                                <ul class="col-md-12">
                                    <li>Estacionamiento.</li>
                                    <li>4 zonas de abastecimiento.</li>
                                    <li>Desayuno.</li>
                                    <li>Barredora.</li>
                                    <li>Apoyo mecánico del equipo <strong>Pedalitos Team Morelia</strong>.</li>
                                    <li>Comida al finalizar.</li>
                                    <li>Cerveza, música ¡y mucho más!.</li>
                                </ul>
                            </div>
                        </p>
                    </div>
                </div>
                <div id="divQuestion6" class="question-separator mb-4">
                    <p id="question6" class="lead" data-toggle="collapse" href="#awnserQuestion6" aria-expanded="false" aria-controls="awnserQuestion6" style="cursor: pointer;">¿Dónde me puede inscribir?<i class="fas fa-chevron-down float-right"></i></p>
                    <div class="collapse" id="awnserQuestion6">
                        <h6 class="h6 text-muted text-justify">Para los que se encuetran en la ciudad de Morelia y sus alrededores, directamente en las tiendas <strong class="text-muted">BiciSport</strong>, <strong class="text-muted">BiciSport</strong>, <strong class="text-muted">Bike Repair Pedalito</strong>, <strong class="text-muted">Bike Room</strong>, <strong class="text-muted">Chile Bike</strong>, <strong class="text-muted">Chino Bike</strong>, <strong class="text-muted">Eco Bike</strong>, <strong class="text-muted">T2 Bike</strong>, <strong class="text-muted">Teknobike</strong>, <strong class="text-muted">Xplora Bike</strong> (ubicadas en domicilio conocido).</h6>
                        <h6 class="h6 text-muted text-justify">O realizando tu depósito a la siguiente cuenta:</h6>
                        <div class="row pl-5 pr-5">
                            <ul class="col-md-12">
                                <li>Cuenta a nombre de: <strong>Oskar Ali</strong>.</li>
                                <li>Banco: <strong>Santander</strong>.</li>
                                <li>No Cuenta: <strong>2000 8852 571</strong>.</li>
                                <li>No de Tarjeta: <strong>5579 0990 0602 3750</strong>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>