{% extends 'new_base.html' %}
{% load staticfiles %}
{% block css %}
    {% comment %} <link href="{% static 'css/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables/dataTables4.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    
    <style>
        .bg-light{
            background-color: #f8f9fab0 !important;
            /* background-color: #ffee1873 !important; */
        }
        .dataTables_info{
            white-space: normal !important;
            text-align: center !important;
        }
        .pagination{
            justify-content: center !important;
        }
        #page-wrapper{
            border-radius: 16px;
        }
        #ciclystsTable > thead > tr {
            background-color: #f8f9fa;
        }
        .modal-lg {
            max-width: 1140px !important;
        }
        #modalRegister {
            background-color: #ffee1894;
            border-radius: 16px;
            border: 2px solid black;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div class="row d-flex justify-content-center p-4 m-4 bg-light" id="page-wrapper">
            <!-- /.row -->
            <div class="col-lg-10">
                <h1 class="text-center h1">6to Reto Los Miradores - Pedalitos Team</h1>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <!--div class="panel-heading">
                        Tafetan 2017
                    </div-->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered responsive" id="ciclystsTable">
                            <thead>
                                <tr>
                                    <th data-priority="1">Número</th>
                                    <th data-priority="1">Ciclista</th>
                                    <th data-priority="2">Club</th>
                                    <th data-priority="2">Jersey</th>
                                    <th data-priority="2">Ciudad</th>
                                    <th data-priority="1">Distancia</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                            <!-- /.table-responsive -->
                            <!--div class="well">
                                <h4>DataTables Usage Information</h4>
                                <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                                <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                            </div-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    {% include 'modals/register.html' %}
{% endblock %}

{% block js%}
    {% comment %} <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap4.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/tubular/jquery.tubular.1.0.js' %}"></script>
    
    
    <script>
    var token = '{{csrf_token}}';
    $(document).ready(function() {
        $('#wrapper').tubular({
          //videoId: 'EMnqOaVm8AU' // 2017
          //videoId: 'j4GejXLqP08' // 2018
          videoId: '6d9dN5dX7SM', // 2018
          start: 10
        });
        language = {
          "lengthMenu": "Mostrar _MENU_ entradas",
          "zeroRecords": "Lo siento no se encontraron resultados",
          "info": "Mostrando del _START_ al _END_ de un total de _TOTAL_ entradas",
          "infoEmpty": "No hay resultados",
          "paginate":{
            "previous": "Previo",
            "next": "Siguiente",
          },
          "search": "Filtrar:",
        } 

        
        $('#ciclystsTable').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "pagingType": "simple_numbers",
            "dom": 'Bfrtilp',
            "buttons": [
                // 'copyHtml5',
                'excelHtml5',
                // 'csvHtml5',
                'pdfHtml5'
            ],
            "language": language,
            "sAjaxSource": '/records/',
            createdRow: function(row, data, index){
                const cNumber  = data.number.toString();
                $('td:eq(0)', row).html(cNumber.padStart(4, '0'));
                if (data.jersey == 'Si'){
                    $('td:eq(3)', row).html('<i class="fa fa-check" aria-hidden="true" value="Sí" style="color: green;"></i>');
                }else if(data.jersey == 'No'){
                    $('td:eq(3)', row).html('<i class="fa fa-times" aria-hidden="true" value="No" style="color: red;"></i>');
                }
                //
            },
            fnServerData: function(sSource, aoData, fnCallback) {
              aoData.push( { "name": "csrfmiddlewaretoken","value": token});
              $.ajax( {
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": function(json) {
                  fnCallback(json);
                }
             });
            },
            "aoColumns": [
                {"data": "number", className: "text-center"},
                {"data": "cyclist"},
                {"data": "club"},
                {"data": "jersey", className: "text-center"},
                {"data": "city"},
                {"data": "distance"},
            ],
            'columnDefs': [
                {"className": "dt-center", "targets": "_all"}
            ]
        });
        $.fn.DataTable.ext.pager.numbers_length = 5;

        $(document).on('click', '.create', function(e){
            $('#modalNewRegister').modal('show');
        });
        $('#customFileLang').on('change',function(){
            var fileName = $(this).val();
            console.log(fileName);
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    });
    </script>
{% endblock %}