<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registro</title>
</head>
<body>
    <div class="container-fluid">
        <div class="mx-auto mw-100 p-3">
            <div class="row">
                <div class="d-xs-none col-md-2">

                </div>
                <div class="col-sm-12 col-md-10">
                    <form class="p-3" id="register-ciclyst" method="POST">
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_firstname">Nombre* </label>
                                <input type="text" class="form-control" id="id_firstname" aria-describedby="nameHelp" placeholder="Nombre" name="firstname">
                                <small id="nameHelp" class="form-text text-muted">Ingresa tu nombre.</small>
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                <label class="required" for="id_secondlastname">Apellido Paterno* </label>
                                <input type="text" class="form-control" id="id_secondlastname" aria-describedby="lastnameHelp" placeholder="Apellido Paterno">
                                <small id="lastnameHelp" class="form-text text-muted">Ingresa tu apellido paterno.</small>
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                <label class="required" for="id_secondlastname">Apellido Materno* </label>
                                <input type="text" class="form-control" id="id_secondlastname" aria-describedby="secondlastnameHelp" placeholder="Apellido Materno">
                                <small id="secondlastnameHelp" class="form-text text-muted">Ingresa tu apellido materno.</small>
                            </div>
                            <div class="form-group col-sm-12 col-md-2 col-lg-2">
                                    <label for="id_age">Edad </label>
                                    <input type="number" class="form-control" id="id_age" aria-describedby="ageHelp" placeholder="18">
                                    <small id="ageHelp" class="form-text text-muted">Ingresa tu edad.</small>
                                </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_email">Email* </label>
                                <input type="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="nombre@pedalitos.com">
                                <small id="emailHelp" class="form-text text-muted">A este correo enviaremos la confirmación de inscripción.</small>
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_phone">Numero Telefonico* </label>
                                <input type="text" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control" id="id_phone" aria-describedby="phoneHelp" placeholder="4432223333">
                                <small id="phoneHelp" class="form-text text-muted">Ingresa tu numero a 10 digitos.</small>
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label for="id_category" >Categoria</label>
                                <select class="custom-select" id="id_category">
                                    <option selected>Selecciona tu categoria</option>
                                    <option value="P" >Principiante</option>
                                    <option value="I">Intermedia</option>
                                    <option value="A">Avanzada</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_city">Ciudad* </label>
                                <input type="text" class="form-control" id="id_city" aria-describedby="clubHelp" placeholder="Pedalitos">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_nickname">Apodo* </label>
                                <input type="text" class="form-control" id="id_nickname" aria-describedby="nicknameHelp" placeholder="El cadenas">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4">
                                <label class="required" for="id_club">Club* </label>
                                <input type="text" class="form-control" id="id_club" aria-describedby="clubHelp" placeholder="Pedalitos">
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                <label class="required" for="id_namecontact">Nombre Contacto* </label>
                                <input type="text" class="form-control" id="id_namecontact" aria-describedby="namecontactHelp" placeholder="Mamá">
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                <label class="required" for="id_phonecontact">Telefono contacto* </label>
                                <input type="text" class="form-control" id="id_phonecontact" aria-describedby="phonecontactHelp" placeholder="4442223333">
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                <label class="required" for="id_phoneemergency">Telefono emergencias* </label>
                                <input type="text" class="form-control" id="id_phoneemergency" aria-describedby="phonecontactHelp" placeholder="911">
                            </div>
                            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                    <label class="required" for="id_blood">Tipo Sangre* </label>
                                    <input type="text" class="form-control" id="id_blood" aria-describedby="phonecontactHelp" placeholder="O+">
                                </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                                    </div>
                            </div>
                        </div>        
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#register-ciclyst').submit(function(e){
                e.preventDefault();
                let registerForm = new FormData($(this)[0]);
                // let firstname = $("#firstname").val();
                // registerForm.append('firstname', firstname);
                $.ajax({
                    method: "POST",
                    processData:false,
                    contentType: false,
		            cache: false,
                    data: registerForm
                })
            })
        });
    </script>
</html>